$bg-navbar: rgb(5, 5, 130);
$cor-dourada: #ffc107;

body{
  background-color: rgba(132, 134, 206, 0.612);
}

.navbar{
  background-color: $bg-navbar;

  .navbar-toggler-icon{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="%23fff" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
  }

  .navbar-toggler{
    border: solid 1px $cor-dourada;
  } 
}

.offcanvas{
  background-color: $bg-navbar;

  .offcanvas-title{
    color: $cor-dourada;
  }
}

.btn-close{
  align-self: flex-start;
}

.text-justify{
  text-align: justify;
}