.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.home {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;

  padding: 2rem 3rem;
}

.welcomeMessage {
  font-size: 5rem;
  margin: 2rem 0;
}

.welcomeInfo {
  font-size: 3rem;
  margin: 2rem 0;
}

.searchSection {
  width: 70%;
  margin: 2rem 0 3.5rem;
  padding: 2rem 2.6rem;

  border: 1px solid #808080;
  border-radius: 1rem;

  gap: 1rem;

  text-align: center;
}
.searchSection span {
  font-size: 2rem;
}

.searchSection h2 {
  font-size: 5rem;
}

.searchSection input {
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.personInput {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.personInput label {
  margin-right: 3rem;
}

.searchSection input[type="number"] {
  padding: 0.5rem 1.6rem;
  cursor: text;
}

.searchBtn {
  justify-content: center;
  gap: 2rem;
}

.searchBtn button {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.infosSection {
  width: 100%;
}

.listSection,
.proposalSection {
  width: 100%;
}

.itenRadio {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #808080;
}

.labelRadio {
  margin-left: 2rem;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.proposalSection {
  align-items: center;
}

.invisible {
  display: none;
}

.messageYear {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #808080;
  border-radius: 1rem;
  font-size: 2.8rem;
}

.messageYear span {
  margin-left: 1rem;
  font-size: 3.8rem;
  font-weight: bold;
  text-decoration: underline;
  color: #1521f7;
}

.messageMonth {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.subscribeLink {
  all: unset;

  align-self: center;
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4d56fc;
  cursor: pointer;
  transition: border-color 0.25s;
}

.subscribeLink:hover {
  border-color: #1521f7;
  transform: scale(1.05);
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.87);
}
